@use '../../styles/' as *;

.pagination {
    @include flex(center, space-between);
    margin: 2rem 1rem;

    .page {
        @include flex(center);

        .active {
            color: $main-color;
        }

        & > * ~ * {
            margin-left: 0.5rem;
        }

        .page-number {
            cursor: pointer;
            

            &:hover {
                opacity: 0.7;
            }
        }
    }
}